---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const seoMetaDatos = {
    title: i18n.SEO.TERMS_PAGE.TITLE,
    description: i18n.SEO.TERMS_PAGE.DESCRIPTION,
};
---

<BaseLayout seo={seoMetaDatos}>
    <section class="container mx-auto text-justify">
        <h1
            class="text-center uppercase text-4xl text-red-700 font-bold mt-8 mb-4"
        >
            {i18n.TERMS_PAGE.TITLE}
        </h1>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.TERMS_CONDITIONS.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.TERMS_CONDITIONS.DESCRIPTION}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.RESERVATIONS.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.RESERVATIONS.DESCRIPTION_1}</p>
        <p>{i18n.TERMS_PAGE.RESERVATIONS.DESCRIPTION_2}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.CANCELLATIONS.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.CANCELLATIONS.DESCRIPTION_1}</p>
        <p>{i18n.TERMS_PAGE.CANCELLATIONS.DESCRIPTION_2}</p>
        <p>{i18n.TERMS_PAGE.CANCELLATIONS.DESCRIPTION_3}</p>
        <p>{i18n.TERMS_PAGE.CANCELLATIONS.DESCRIPTION_4}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.MODIFICATIONS.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.MODIFICATIONS.DESCRIPTION_1}</p>
        <p>{i18n.TERMS_PAGE.MODIFICATIONS.DESCRIPTION_2}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.RESPONSIBILITIES.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.RESPONSIBILITIES.DESCRIPTION}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.CURRENCY.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.CURRENCY.DESCRIPTION}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.DISCLAIMER.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.DISCLAIMER.DESCRIPTION}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.DATA_PROTECTION.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.DATA_PROTECTION.DESCRIPTION}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.APPLICABLE_LAW.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.APPLICABLE_LAW.DESCRIPTION}</p>
        <h2 class="uppercase text-2xl text-sky-700 font-bold mt-8 mb-4">
            {i18n.TERMS_PAGE.JURISDICTION.TITLE}
        </h2>
        <p>{i18n.TERMS_PAGE.JURISDICTION.DESCRIPTION}</p>

        <p class="text-center font-bold text-lg text-amber-400 my-8">
            {i18n.TERMS_PAGE.LAST_UPDATE}
        </p>
    </section>
</BaseLayout>
