---
const { fullName, message, email, phone, date } = Astro.props;
---

<div>
    <p>Full Name: {fullName}</p>
    <p>Email: {email}</p>
    <p>Phone: {phone}</p>
    <p>Date: {date}</p>
    <p>Message: {message}</p>
</div>
