---
import { getI18N } from "@/i18n";
import { useTranslatedPath } from "@/i18n/utils";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { tour, lang } = Astro.props;
const translatePath = useTranslatedPath(lang);
const url = translatePath(`/tours/${tour.tour_slug}/`);
---

<article class="w-full lg:w-3/12 md:w-6/12 px-5 py-5">
    <div class="relative rounded-lg overflow-hidden bg-white shadow-lg border-slate-600">
        <div class="relative p-2.5 w-1/2 float-left md:float-none md:w-full overflow-hidden">
            <span class="absolute z-10 top-[14px] left-[14px] md:top-[18px] md:left-[18px] px-2.5 py-1 rounded-md text-sm bg-white font-bold shadow-lg"><i class="at-star text-sm text-amber-500"></i>{tour.data.stars}</span>
            {tour.data.featured != "" && <span class="w-24 md:w-48 absolute top-[10px] right-[-25px] md:top-[25px] md:-right-[58px] z-10 rotate-45 text-[12px] font-bold pl-[0] pr-[0] py-px bg-amber-500 text-black text-center">{tour.data.featured}</span>}
            <a aria-label="go to activity details" href={url}>
                <img width="650" height="450" loading="lazy" src={tour.data.image.url} class="h-[160px] w-full md:h-full object-cover rounded-md cursor-pointer duration-200 hover:scale-110" alt={tour.data.image.alt}>
            </a>
        </div>
        <div class="p-[20px] rounded-md duration-300 text-justify text-sm">
            <h2 class="line-clamp-3 md:line-clamp-2 font-bold text-lg md:text-[22px] mb-4 text-center min-h-14 text-sky-800">{tour.data.title}</h2>
            <p class="line-clamp-4 md:line-clamp-3">{tour.data.description}</p>
            <div class="flex justify-around gap-5 mt-5">
                <div class="flex items-center gap-2">
                    <i class="at-dots-comment text-sky-800"></i>
                    <span class="text-sm">{tour.data.reviews}</span>
                </div>
                <div class="flex items-center gap-2">
                    <span class="text-sm text-gray-500">{i18n.TOUR_PAGE.CARD.FROM}:</span>
                    <strong class="text-2xl text-sky-800">${tour.data.price} €</strong>
                </div>
            </div>
        </div>
        
        <div class="flex flex-wrap justify-evenly mb-5 lg:px-5 gap-y-3">
            {tour.data.bokun != '' && <a aria-label="book now" href={tour.data.bokun} class="w-auto text-center bg-amber-500 hover:bg-amber-400 text-white font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline" target="_blank">{i18n.TOUR_PAGE.CARD.BUTTON_BOOK_NOW}</a>}
            <a aria-label="go to activity details" href={url} class="w-auto text-center bg-slate-200 hover:bg-slate-100 text-black font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline">{i18n.TOUR_PAGE.CARD.BUTTON_MORE}</a>
        </div>
    </div>
</article>