---
import {settings} from "../data/settings";
import '../styles/main.css';
export interface Props {
	title?: string;
	description?: string;
}

const title = Astro.props.title || settings.title;
const description = Astro.props.description || settings.description;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<!-- Favicon -->
<link href="/favicon.webp" rel="icon">
<link href="/apple-touch-icon.png" rel="apple-touch-icon">
<!-- Primary Meta Tags -->
<title>{title || settings.title}</title>
<meta name="title" content={title || settings.title} />
<meta name="description" content={description || settings.description} />
<meta name="generator" content={Astro.generator} />
<!-- settingsmap -->
<link rel="sitemap" href="/sitemap.xml">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />