---
import Image from "astro/components/Image.astro";
import imgOp from "../../img/opinions-and-reviews-from-trust-tripadvisor-foursquare-yelp-google-maps.webp";
const { restaurant } = Astro.props;
---

<article class="w-full lg:w-3/12 md:w-6/12 px-5 py-5">
    <div class="relative rounded-lg overflow-hidden bg-white shadow-lg border-slate-600">
        <div class="relative p-2.5 w-1/2 float-left md:float-none md:w-full overflow-hidden">
            <span class="absolute z-10 top-[14px] left-[14px] md:top-[18px] md:left-[18px] px-2.5 py-1 rounded-md text-sm bg-white font-bold shadow-lg"><i class="at-star text-sm text-amber-500"></i>{restaurant.data.stars}</span>
            {restaurant.data.featured != "" && <span class="w-24 md:w-48 absolute top-[10px] right-[-25px] md:top-[25px] md:-right-[58px] z-10 rotate-45 text-sm font-bold pl-[0] pr-[0] py-px bg-amber-500 text-black text-center">{restaurant.data.featured}</span>}
            <a aria-label="go to restaurant details" href={`/restaurants/${restaurant.slug}/`}>
                <img width="650" height="450" loading="lazy" src={restaurant.data.image.url} class="h-[160px] w-full md:h-full object-cover rounded-md cursor-pointer duration-200 hover:scale-110" alt={restaurant.data.image.alt}>
            </a>
        </div>
        <div class="p-[20px] rounded-md duration-300 text-justify text-sm min-h-[280px]">
            <h2 class="font-bold text-xl md:text-[22px] mb-4 text-center min-h-14 text-orange-500">{restaurant.data.title}</h2>
            <div class="flex justify-around gap-2 flex-wrap mb-2">
                <div class="flex items-center gap-2 border rounded-lg py-1 px-3 bg-white text-slate-600 hover:text-white hover:bg-orange-500 transition duration-200">
                    <i class="at-restaurant"></i><span class="text-sm">{restaurant.data.cuisine}</span>
                </div>
                <div class="flex items-center gap-2 border rounded-lg py-1 px-3 bg-white text-slate-600 hover:text-white hover:bg-orange-500 transition duration-200">
                    <i class="at-tie"></i><span class="text-sm">{restaurant.data.dressCode}</span>
                </div>
                <div class="flex items-center gap-2 border rounded-lg py-1 px-3 bg-white text-slate-600 hover:text-white hover:bg-orange-500 transition duration-200">
                    <i class="at-dots-comment"></i><span class="text-sm">{restaurant.data.reviews}</span>
                </div>
            </div>
            <div class="flex items-center justify-center gap-2 mt-4">
                <p class="text-base text-amber-500 font-bold"><span class="text-base text-slate-600">Average cost:</span> {restaurant.data.averageCost}</p>
            </div>
            <div class="text-center mt-4">
                <Image src={imgOp} alt="" height="40" class="mx-auto" />
            </div>
        </div>
        
        <div class="flex justify-evenly mb-5">
            <a aria-label="go to restaurant details" href={`/restaurants/${restaurant.slug}/`} class="btn-read">See all restaurant</a>
        </div>
    </div>
</article>