---
import BaseLayout from "./BaseLayout.astro";
import Map from "@/components/tours/Map";
import Testimonials from "@/components/home/Testimonials";
import ShareSM from "@/components/tours/ShareSM";

import { getLangFromUrl } from "@/i18n/utils";
import { getI18N } from "@/i18n";
import FormBooking from "@/components/email/FormBooking";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const lang = getLangFromUrl(Astro.url);

const { frontmatter } = Astro.props;
const siteWebURL = new URL(Astro.url.pathname, Astro.site);

const seoMetaDatos = {
    title: frontmatter.title,
    description: frontmatter.description,
    image: frontmatter.image.url,
    keywords: frontmatter.keywords,
};

const dataForm = {
    i18n: i18n.FORM_RESERVATION,
    lang: lang,
    titleCard: frontmatter.title,
    reviews: frontmatter.reviews,
    stars: frontmatter.stars,
    image: frontmatter.image,
}
---

<BaseLayout seo={seoMetaDatos}>
    <section class="mx-7 md:mx-20 lg:mx-24 mt-8 mb-14">
        <div class="flex flex-wrap">
            <header class="flex flex-wrap w-full md:px-5 lg:px-10">
                <h1 class="w-10/12 text-4xl md:text-6xl font-bold italic text-sky-900">
                    {frontmatter.title}
                </h1>
                <div class="w-2/12 flex justify-center items-center">
                    <ShareSM client:idle site={siteWebURL} />
                </div>
                <ul class="flex gap-5 w-full my-6 text-sm md:text-lg">
                    <li>
                        <i class="at-pin-destination text-sky-900"></i>
                        <span>{frontmatter.location}</span>
                    </li>
                    <li>
                        <i class="at-star text-yellow-500"></i>
                        <span class="font-bold">{frontmatter.stars}
                            <span class="text-slate-600 font-thin">({frontmatter.reviews})</span>
                        </span>
                    </li>
                </ul>
            </header>
            <!-- Details -->
            <div class="w-full lg:w-8/12 md:px-5 lg:px-10 mb-8">
                <slot />
                <h2 class="text-3xl md:text-4xl font-bold mb-4 text-red-700 mt-10">{i18n.RESTAURANT_PAGE.DETAIL_RESTAURANT.LOCATION}</h2>
                <Map client:visible url={frontmatter.mapFrame} titleAct={frontmatter.title}
                />
            </div>
            <FormBooking client:visible dataForm={dataForm} />
            {frontmatter.testimonials != 0 ? ( <Testimonials client:visible testimonials={frontmatter.testimonials} title={i18n.RESTAURANT_PAGE.DETAIL_RESTAURANT.TESTIMONIAL_TITLE}/> ) : ("") }
        </div>
    </section>
</BaseLayout>
