---
import BaseLayout from "./BaseLayout.astro";
import Map from "../components/tours/Map";
import FormBokun from "../components/tours/FormBokun";
import Testimonials from "../components/home/Testimonials";
const { frontmatter } = Astro.props;

const seoMetaDatos = {
    title: frontmatter.title,
    description: frontmatter.description,
    image: frontmatter.image.url,
    keywords: frontmatter.keywords,
}
---
<BaseLayout seo={seoMetaDatos}>
    <section class="mx-7 md:mx-20 lg:mx-24 my-7 md:my-14">
        <div class="flex flex-wrap">
            <!-- Details -->
            <div class="w-full lg:w-8/12 md:px-5 lg:px-10">
                <header class="w-full">
                    <h1 class="text-3xl md:text-6xl font-bold italic text-sky-900">
                        {frontmatter.title}
                    </h1>
                    <ul class="flex gap-5 w-full my-6 text-base md:text-lg">
                        <li>
                            <i class="at-pin-destination text-sky-900"></i>
                            <span>{frontmatter.location}</span>
                        </li>
                        <li>
                            <i class="at-star text-yellow-500"></i>
                            <span class="font-bold">{frontmatter.stars} <span class="text-slate-600 font-thin">({frontmatter.reviews})</span></span>
                        </li>
                    </ul>
                </header>
                <slot />
                <h3 class="text-4xl font-bold my-5">Characteristics</h3>
                <ul class="flex flex-wrap mb-20 space-y-7">
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-timer"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Duration</span>
                            <p>{frontmatter.duration}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-clock-time"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Schedule</span>
                            <p>{frontmatter.schedule}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-calendar-schedule"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Availability</span>
                            <p>{frontmatter.availability}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-dots-comment"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Reviews</span>
                            <p>{frontmatter.reviews}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-low-thermometer"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Difficulty</span>
                            <p>{frontmatter.difficulty}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-house-pin-location"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Meeting Points</span>
                            <p>{frontmatter.meetingPoint}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-language-translation"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Offered in</span>
                            <p>{frontmatter.offered}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-xmark-handshake"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Cancelation</span>
                            <p>{frontmatter.cancelation}</p>
                        </div>
                    </li>
                    <li class="w-full md:w-4/12 flex items-center">
                        <i class="bg-slate-100 text-black text-xl w-14 h-14 rounded-full flex justify-center items-center mr-2 at-exclamation-mobile"></i>
                        <div class="flex flex-col">
                            <span class="font-bold">Ticket</span>
                            <p>Mobile Ticket</p>
                        </div>
                    </li>
                </ul>
                <h3 class="text-4xl font-bold my-5">Location</h3>
                <Map client:visible url={frontmatter.mapFrame} titleAct={frontmatter.title} />
            </div>
            <!-- Form -->
            <FormBokun 
                client:idle 
                urlCalendar={frontmatter.calendar} 
                price={frontmatter.price} 
            />
            <Testimonials client:visible testimonials={frontmatter.testimonials} title="What our clients say" />
        </div>
    </section>
    <script is:inline src="https://widgets.bokun.io/assets/javascripts/apps/build/BokunWidgetsLoader.js?bookingChannelUUID=6b1de543-f859-42f0-8332-446d14d349f4"></script>
</BaseLayout>
